* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  position: relative;
}
a:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
h3 {
  line-height: 1.5rem;
  color: #c0c905;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  color: #3c1a1a;
  text-align: center;
}
.btn-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3c1a1a;
  font-weight: 600;
  line-height: 3rem;
  border-radius: 5px;
  padding: 3px 15px;
  margin: 30px 0;
  font-size: 20px;
  margin: 10px auto;
}
.title {
  margin: 50px 50px;
}
ul {
  list-style: none;
}
/* ===========================HEADER========================= */
header {
  background-color: #421a1f;
  color: #ffffff;
}

header .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .site-header .logo img {
  width: 80px;
  height: 80px;
}
header .right {
  width: 100%;
}
header ul,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header .right .display {
  position: relative;
}
header ul i {
  font-size: 20px;
  width: 30px;
  margin: 0 10px;
}
header ul .cart-icon a {
  display: flex;
  gap: 10px;
}
header .right .display .dropdown {
  display: none;
  background-color: #421a1f;
  line-height: 1.5rem;
  padding: 10px;
  position: absolute;
  margin-top: 10px;
  width: 250px;
}
header .right .display:hover .dropdown {
  display: block;
  z-index: 1;
  top: 20px;
  /* left: 40px; */
}
header .right ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
}
.wrap .cart_blank {
  padding: 100px 30%;
}
/* =======================CONTENT=========================== */
.container {
  background-color: #f8f2e8;
}
table {
  width: 100%;
  padding: 100px 150px 0px 150px;
  line-height: 2rem;
  font-size: 20px;
  background-color: #f8f2e8;
}

button {
  font-size: 20px;
  min-width: 40px;
  padding: 5px 10px;
}
table th {
  color: #333333;
  font-size: 16px;
  font-weight: 200;
  padding: 0 20px;
}
table h5 {
  font-size: 20px;
}
table thead,
tr {
  justify-content: center;
  text-align: center;
}

table img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
table thead {
  color: #424241;
  font-size: 14px;
}
table tfoot {
  font-size: 30px;
  line-height: 4rem;
}
table .product td {
  text-align: center;
  align-items: center;
}
table .product input {
  width: 55px;
  line-height: 35px;
}
.container .wrap .check-out {
  text-align: center;
  padding-bottom: 30px;
}
.container .wrap .check-out button {
  background-color: #3f90ce;
  border: 2px solid #285fa5;
  color: white;
  font-size: 30px;
  font-weight: 600;
  border-radius: 20px;
}
/* ==================FOOTER ================================ */
footer .footer-background {
  background-image: url(../ASSET/img/background_banner/footer-bg.png.jpeg);
  object-fit: contain;
  /* position: relative; */
  color: #ffffff;
  width: 100%;
  /* height: 550px; */
}
footer .content {
  background-color: rgba(0, 0, 0, 0.3);
  /* position: absolute; */
  padding: 50px 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
/* ========BLOCK========== */
footer .content .block {
  display: flex;
  flex-direction: column;
}
footer h4 {
  margin-bottom: 30px;
}
footer a {
  color: white;
  line-height: 2rem;
}
footer .content .block1 .text .line i {
  width: 30px;
  height: 30px;
  font-size: 15px;
}
/* ========== */
footer .content .block3 .input-email {
  margin: 30px 0;
}
footer .content .block3 .input-email input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 5px;
}
footer .content .block3 .icon i {
  font-size: 30px;
  margin: 0 5px;
}
/* ========== */
footer .content .block4 img {
  width: 200px;
}
/* ========== */
footer .bottom {
  background-color: #421a1f;
  color: white;
  padding: 0 200px;
  line-height: 50px;
}
footer .bottom .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
footer .bottom i {
  font-size: 30px;
}
footer .bottom .fb {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #1075bc;
}
footer .bottom .ms {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #751a47;
}
@media only screen and (max-width: 992px) {
  body {
    .page-container .main-content .product .wrap .type .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
      border-radius: 8px;
      padding: 0 auto;
    }
    header .top .block3 > .tel,
    header .top .block3 > .store,
    header .top .block3 > .user {
      display: none;
    }
    header .bottom ul .discount a {
      display: none;
    }
    footer .content {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 768px) {
  body {
    .page-container .main-content .product .wrap .type .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
      border-radius: 8px;
      padding: 0 auto;
    }
    header .bottom ul {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .page-container .main-content .product .wrap .type .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px 20px;
      border-radius: 8px;
      padding: 0 auto;
    }
  }
}
